doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header.header
      .console
        h1.title Procedurally Generated
        block header-content
        
    block content